openapi: 3.1.0
info:
  title: SendQuote API
  description: AI-powered quoting platform for Indian businesses. Create, send, and manage professional quotes with GST compliance, e-signatures, and Razorpay payments.
  version: 2.0.0
  contact:
    name: SendQuote Support
    email: support@sendquote.in
    url: https://sendquote.in
servers:
  - url: https://sendquote.in
    description: Production server
  - url: http://localhost:3000
    description: Local development
paths:
  /api/health:
    get:
      operationId: healthCheck
      summary: Health check
      description: Returns the health status of the API including database connectivity and uptime.
      tags:
        - System
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: Service degraded (database not configured)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
  /api/quotes:
    get:
      operationId: listQuotes
      summary: List user's quotes
      description: Returns all quotes for the authenticated user. Results are ordered by creation date descending.
      tags:
        - Quotes
      security:
        - cookieAuth: []
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 0
        - name: pageSize
          in: query
          description: Number of quotes per page
          schema:
            type: integer
            default: 50
            maximum: 100
      responses:
        "200":
          description: List of quotes
          content:
            application/json:
              schema:
                type: object
                properties:
                  quotes:
                    type: array
                    items:
                      $ref: "#/components/schemas/Quote"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createQuote
      summary: Create a new quote
      description: Creates a new quote with items, client details, and GST configuration. Requires authentication. Subject to plan-specific quote limits.
      tags:
        - Quotes
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateQuoteRequest"
      responses:
        "200":
          description: Quote created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Quote"
        "201":
          description: Quote created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Quote"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Quote limit reached for current plan
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
  /api/quotes/{id}:
    get:
      operationId: getQuote
      summary: Get a single quote
      description: Returns a single quote by its ID. The user must own the quote.
      tags:
        - Quotes
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Quote UUID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Quote details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Quote"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Quote not found
    patch:
      operationId: updateQuoteStatus
      summary: Update quote status
      description: Updates the status of a quote (e.g., draft → sent, sent → accepted).
      tags:
        - Quotes
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Quote UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - draft
                    - sent
                    - opened
                    - accepted
                    - changes_requested
                    - expired
                    - archived
                    - lost
      responses:
        "200":
          description: Quote status updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Quote"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Quote not found
    delete:
      operationId: deleteQuote
      summary: Delete a quote
      description: Permanently deletes a quote. Only the quote owner can delete.
      tags:
        - Quotes
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Quote UUID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Quote deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    enum: [true]
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Not authorized to delete this quote
        "404":
          description: Quote not found
  /api/quotes/send:
    post:
      operationId: sendQuote
      summary: Send a quote via email
      description: Sends a quote to the client via email using Resend. Updates quote status to 'sent' and auto-schedules AI follow-ups.
      tags:
        - Quotes
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                quote_id:
                  type: string
                  format: uuid
                  description: Quote UUID
                recipient_email:
                  type: string
                  format: email
                  description: Optional override email address
      responses:
        "200":
          description: Quote sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    enum: [true]
                  message:
                    type: string
                    example: "Quote sent successfully"
                  url:
                    type: string
                    format: uri
                    description: Public quote URL
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Not authorized to send this quote
        "404":
          description: Quote not found
        "409":
          description: Quote already accepted
  /api/quotes/accept:
    post:
      operationId: acceptQuote
      summary: Accept a quote with e-signature
      description: Allows a client to accept a quote using a public token. Records an e-signature, creates an invoice, and triggers CRM sync.
      tags:
        - Quotes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - public_token
                - signature_data
              properties:
                public_token:
                  type: string
                  description: Public token from the quote URL
                signatory_name:
                  type: string
                  maxLength: 200
                  description: Name of the person signing
                signatory_email:
                  type: string
                  format: email
                  maxLength: 320
                signature_data:
                  type: string
                  description: Canvas signature data URI
      responses:
        "200":
          description: Quote accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    enum: [true]
                  invoice_number:
                    type: string
                    example: "INV-2026-6-ZX9K2A"
        "404":
          description: Quote not found
        "409":
          description: Quote already accepted
  /api/analytics:
    get:
      operationId: getAnalytics
      summary: Get quote analytics
      description: Returns aggregated analytics for the authenticated user including totals, revenue, win rate, status breakdown, and monthly revenue data.
      tags:
        - Analytics
      security:
        - cookieAuth: []
      parameters:
        - name: startDate
          in: query
          description: Start date for filtering (ISO 8601)
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: End date for filtering (ISO 8601)
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Analytics data
          content:
            application/json:
              schema:
                type: object
                properties:
                  totals:
                    type: object
                    properties:
                      total:
                        type: integer
                        description: Total number of quotes
                      accepted:
                        type: integer
                        description: Number of accepted quotes
                      lost:
                        type: integer
                        description: Number of lost/expired quotes
                      pending:
                        type: integer
                        description: Number of sent/opened quotes
                  revenue:
                    type: object
                    properties:
                      total:
                        type: number
                        description: Total revenue from accepted quotes
                      avgQuoteValue:
                        type: number
                        description: Average value across all quotes
                  winRate:
                    type: integer
                    description: Win rate percentage (0-100)
                  recentAccepted:
                    type: integer
                    description: Accepted quotes in the last 30 days
                  quotesByStatus:
                    type: array
                    description: Quote count breakdown by status
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          enum:
                            - Draft
                            - Sent
                            - Opened
                            - Accepted
                            - Lost
                        value:
                          type: integer
                  monthlyRevenue:
                    type: array
                    description: Monthly revenue time series
                    items:
                      type: object
                      properties:
                        month:
                          type: string
                          example: "Jan 26"
                        amount:
                          type: number
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/payments/razorpay:
    post:
      operationId: createRazorpayOrder
      summary: Create Razorpay payment order
      description: Creates a Razorpay payment order for an accepted quote. Uses the invoice balance or quote total as the amount.
      tags:
        - Payments
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - quote_id
              properties:
                quote_id:
                  type: string
                  format: uuid
                  description: Quote UUID (must be accepted)
                currency:
                  type: string
                  maxLength: 10
                  default: INR
                  description: Currency code (default INR)
      responses:
        "200":
          description: Payment order created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    enum: [true]
                  id:
                    type: string
                    description: Razorpay order ID
                  amount:
                    type: integer
                    description: Amount in paise
                  currency:
                    type: string
                  key:
                    type: string
                    description: Razorpay API key for frontend
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Not authorized to make payment for this quote
        "404":
          description: Quote not found
        "409":
          description: Quote must be accepted before payment
  /api/ai/generate:
    post:
      operationId: generateQuoteAI
      summary: Generate quote using AI
      description: Uses AI to generate a complete quote from a plain-text business description. Creates items, pricing, and client details automatically.
      tags:
        - AI
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - description
              properties:
                description:
                  type: string
                  minLength: 3
                  maxLength: 2000
                  description: Business description for AI quote generation
                industry:
                  type: string
                  maxLength: 100
                  description: Optional industry context
      responses:
        "200":
          description: AI-generated quote data
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_name:
                    type: string
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/QuoteItem"
                  notes:
                    type: string
                  total:
                    type: number
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/ai/followup:
    post:
      operationId: generateFollowUp
      summary: Generate AI follow-up message
      description: Analyzes quote engagement data and generates an AI-powered follow-up message tailored to the client's behavior.
      tags:
        - AI
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - quote_id
              properties:
                quote_id:
                  type: string
                  format: uuid
      responses:
        "200":
          description: AI-generated follow-up
          content:
            application/json:
              schema:
                type: object
                properties:
                  subject:
                    type: string
                  body:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Quote not found
  /api/ai/copilot:
    post:
      operationId: getQuoteCopilot
      summary: Get AI copilot suggestions
      description: Analyzes a quote's lifecycle and provides actionable suggestions, risk alerts, and a deal score.
      tags:
        - AI
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - quote_id
              properties:
                quote_id:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Copilot analysis
          content:
            application/json:
              schema:
                type: object
                properties:
                  quoteNumber:
                    type: string
                  daysSinceCreation:
                    type: integer
                  viewedCount:
                    type: integer
                  suggestions:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - action
                            - follow_up
                            - alert
                            - risk
                            - tip
                        message:
                          type: string
                        priority:
                          type: string
                          enum:
                            - high
                            - medium
                            - low
                  score:
                    type: integer
                    description: Deal score (0-100)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Quote not found
  /api/chat:
    post:
      operationId: chatAboutQuote
      summary: Chat about a quote
      description: Sends a chat message about a quote using the AI deal assistant.
      tags:
        - AI
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - quote_id
                - message
              properties:
                quote_id:
                  type: string
                  format: uuid
                message:
                  type: string
                  maxLength: 5000
      responses:
        "200":
          description: AI response
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/chat/buyer:
    post:
      operationId: buyerChat
      summary: Buyer chat via public token
      description: Allows a buyer to chat about a quote via their public token (no authentication required).
      tags:
        - Portal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - public_token
                - message
              properties:
                public_token:
                  type: string
                message:
                  type: string
                  maxLength: 5000
                sender_name:
                  type: string
                  maxLength: 200
      responses:
        "200":
          description: AI response
  /api/subscriptions:
    get:
      operationId: getSubscription
      summary: Get user subscription info
      description: Returns the current user's plan, subscription status, expiry, and billing cycle.
      tags:
        - Billing
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Subscription details
          content:
            application/json:
              schema:
                type: object
                properties:
                  plan:
                    type: string
                    enum:
                      - starter
                      - growth
                      - pro
                      - enterprise
                  status:
                    type: string
                    enum:
                      - active
                      - inactive
                      - past_due
                      - canceled
                  expiry:
                    type: string
                    format: date-time
                    nullable: true
                  billingCycle:
                    type: string
                    enum:
                      - monthly
                      - yearly
                  recentSubscription:
                    type: object
                    nullable: true
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/templates:
    get:
      operationId: listTemplates
      summary: Get quote templates
      description: Returns available quote templates, optionally filtered by industry. No authentication required for browsing templates.
      tags:
        - Quotes
      parameters:
        - name: industry
          in: query
          description: Filter templates by industry
          schema:
            type: string
      responses:
        "200":
          description: List of templates
          content:
            application/json:
              schema:
                type: object
                properties:
                  templates:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                        industry:
                          type: string
  /api/clients:
    get:
      operationId: listClients
      summary: List clients
      description: Returns all clients for the authenticated user, ordered by creation date descending.
      tags:
        - CRM
      security:
        - cookieAuth: []
      responses:
        "200":
          description: List of clients
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Client"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createClient
      summary: Create a client
      description: Creates a new client record for the authenticated user.
      tags:
        - CRM
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClientRequest"
      responses:
        "201":
          description: Client created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Client"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/crm/sync:
    post:
      operationId: syncQuoteToCrm
      summary: Sync quote to CRM
      description: Syncs a quote to an external CRM (HubSpot or Pipedrive). Requires CRM integration to be configured.
      tags:
        - CRM
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - quote_id
              properties:
                quote_id:
                  type: string
                  format: uuid
      responses:
        "200":
          description: CRM sync result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  crmId:
                    type: string
                    description: External CRM record ID
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Quote not found
  /api/referrals:
    get:
      operationId: getReferrals
      summary: Get user's referrals
      description: Returns the authenticated user's referral list and their unique referral link.
      tags:
        - Referrals
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Referral list
          content:
            application/json:
              schema:
                type: object
                properties:
                  referrals:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        referred_email:
                          type: string
                          format: email
                        status:
                          type: string
                          enum:
                            - pending
                            - signed_up
                            - converted
                        created_at:
                          type: string
                          format: date-time
                        reward_months:
                          type: integer
                  referralLink:
                    type: string
                    format: uri
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: inviteReferral
      summary: Invite a referral
      description: Sends a referral invitation email. Each email can only be referred once per user.
      tags:
        - Referrals
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: Referral invitation sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    enum: [true]
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Already referred this email
  /api/achievements:
    get:
      operationId: getAchievements
      summary: Get user achievements
      description: Returns all achievement definitions and the user's earned achievements along with their monthly quote count.
      tags:
        - Gamification
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Achievement data
          content:
            application/json:
              schema:
                type: object
                properties:
                  definitions:
                    type: array
                    items:
                      type: object
                  earned:
                    type: array
                    items:
                      type: object
                  monthlyCount:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/health-score:
    get:
      operationId: getHealthScore
      summary: Get account health score
      description: Calculates a health score (0-100) based on quote volume, win rate, recency, client count, and plan tier. Returns level classification and next milestone.
      tags:
        - Analytics
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Health score data
          content:
            application/json:
              schema:
                type: object
                properties:
                  score:
                    type: integer
                    description: Overall health score (0-100)
                  level:
                    type: string
                    enum:
                      - beginner
                      - starter
                      - growing
                      - pro
                      - elite
                  levelLabel:
                    type: string
                  nextMilestone:
                    type: integer
                  total:
                    type: integer
                  accepted:
                    type: integer
                  winRate:
                    type: integer
                  recent30d:
                    type: integer
                  clientCount:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/events:
    post:
      operationId: trackEvent
      summary: Track quote event
      description: Tracks a client-facing event (viewed, signed, paid, etc.) on a quote. Rate-limited per IP. Automatically updates quote status when viewed/pricing_viewed events occur.
      tags:
        - Analytics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - quote_id
                - event_type
              properties:
                quote_id:
                  type: string
                  description: Quote UUID or public token
                event_type:
                  type: string
                  enum:
                    - viewed
                    - pricing_viewed
                    - signed
                    - paid
                    - expired
                    - downloaded
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        "200":
          description: Event tracked
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    enum: [true]
        "400":
          $ref: "#/components/responses/ValidationError"
        "404":
          description: Quote not found
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/portal:
    post:
      operationId: clientPortal
      summary: Look up client portal by email
      description: Looks up all quotes associated with an email address for the client portal. Rate-limited per IP.
      tags:
        - Portal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: Portal results
          content:
            application/json:
              schema:
                type: object
                properties:
                  quotes:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        quoteNumber:
                          type: string
                        clientName:
                          type: string
                        status:
                          type: string
                        total:
                          type: number
                        createdAt:
                          type: string
                          format: date-time
                        publicUrl:
                          type: string
                          format: uri
                  message:
                    type: string
                    description: Present when no records are found
        "400":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/gst/validate:
    get:
      operationId: validateGst
      summary: Validate GST number
      description: Validates an Indian GST number format and extracts state code, state name, and PAN number.
      tags:
        - Utilities
      parameters:
        - name: gst
          in: query
          required: true
          description: GST number to validate
          schema:
            type: string
            example: "27AAQCP5675K1Z7"
      responses:
        "200":
          description: GST validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  formatted:
                    type: string
                  stateCode:
                    type: string
                    nullable: true
                    example: "27"
                  stateName:
                    type: string
                    nullable: true
                    example: "Maharashtra"
                  panNumber:
                    type: string
                    example: "AAQCP5675K"
                  reason:
                    type: string
                    description: Present when validation fails
  /api/pincode/lookup:
    get:
      operationId: lookupPincode
      summary: Lookup Indian pincode
      description: Looks up location details for a given Indian postal code (pincode).
      tags:
        - Utilities
      parameters:
        - name: pincode
          in: query
          required: true
          description: 6-digit Indian pincode
          schema:
            type: string
            pattern: "^[0-9]{6}$"
      responses:
        "200":
          description: Pincode details
          content:
            application/json:
              schema:
                type: object
                properties:
                  pincode:
                    type: string
                  city:
                    type: string
                  state:
                    type: string
                  region:
                    type: string
        "400":
          description: Pincode is required
  /api/voice:
    post:
      operationId: voiceAssistant
      summary: Voice assistant query
      description: Processes a voice/text query through the AI voice assistant (Jarvis). Returns a concise response about SendQuote business operations.
      tags:
        - AI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
                  description: Voice query text
                context:
                  type: string
                  description: Optional business context
      responses:
        "200":
          description: Voice response
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
  /api/admin/stats:
    get:
      operationId: getAdminStats
      summary: Get admin statistics
      description: Returns platform-wide statistics. Requires pro or enterprise plan access.
      tags:
        - Admin
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Admin statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  userCount:
                    type: integer
                  quoteCount:
                    type: integer
                  auditLogCount:
                    type: integer
                  errorCount:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Not authorized (pro/enterprise plan required)
  /api/auth/signup-profile:
    post:
      operationId: createSignupProfile
      summary: Create signup profile
      description: Creates the user's business profile after initial signup.
      tags:
        - Auth
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - business_name
              properties:
                business_name:
                  type: string
                  maxLength: 200
      responses:
        "200":
          description: Profile created
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/auth/verify-turnstile:
    post:
      operationId: verifyTurnstile
      summary: Verify Cloudflare Turnstile token
      description: Server-side verification of a Cloudflare Turnstile CAPTCHA token.
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
      responses:
        "200":
          description: Verification result
  /api/team/invite:
    post:
      operationId: inviteTeamMember
      summary: Invite a team member
      description: Invites a user to join the organization team.
      tags:
        - Team
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                role:
                  type: string
                  enum: [admin, member, viewer]
      responses:
        "200":
          description: Team member invited
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/followup/schedule:
    post:
      operationId: scheduleFollowUp
      summary: Schedule AI follow-up
      description: Schedules automated AI follow-up sequences for a sent quote.
      tags:
        - AI
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - quote_id
              properties:
                quote_id:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Follow-up scheduled
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/followup/process:
    post:
      operationId: processFollowUp
      summary: Process AI follow-up
      description: Processes pending AI follow-up actions. Can be called by cron jobs or manually.
      tags:
        - AI
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Follow-up processed
  /api/approval-rules:
    get:
      operationId: getApprovalRules
      summary: Get approval rules
      description: Returns the user's configured approval rules for quotes.
      tags:
        - Approvals
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Approval rules
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createApprovalRule
      summary: Create approval rule
      description: Creates a new approval workflow rule for quotes.
      tags:
        - Approvals
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Approval rule created
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/approval-rules/check:
    post:
      operationId: checkApprovalRule
      summary: Check approval rules
      description: Checks if a quote requires approval based on configured rules.
      tags:
        - Approvals
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - quote_id
              properties:
                quote_id:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Approval check result
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/contracts/{quoteId}:
    get:
      operationId: getContract
      summary: Get contract document
      description: Returns contract document data for a given quote.
      tags:
        - Contracts
      security:
        - cookieAuth: []
      parameters:
        - name: quoteId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Contract data
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/webhooks/n8n:
    post:
      operationId: n8nWebhook
      summary: n8n webhook receiver
      description: Receives webhook events from n8n workflow automation.
      tags:
        - Webhooks
      responses:
        "200":
          description: Webhook received
  /api/webhook/razorpay:
    post:
      operationId: razorpayWebhook
      summary: Razorpay webhook receiver
      description: Receives payment webhook events from Razorpay. Used to update invoice and payment status.
      tags:
        - Webhooks
      responses:
        "200":
          description: Webhook processed
  /api/expiry/check:
    get:
      operationId: checkExpiry
      summary: Check quote expiry
      description: Cron endpoint that checks and updates expired quotes.
      tags:
        - System
      responses:
        "200":
          description: Expiry check completed
  /api/seo/ping:
    get:
      operationId: seoPing
      summary: SEO monitoring ping
      description: Used by uptime monitoring services.
      tags:
        - System
      responses:
        "200":
          description: Pong
  /api/achievements/check:
    post:
      operationId: checkAchievements
      summary: Check and award achievements
      description: Evaluates whether the user has earned any new achievements based on their activity.
      tags:
        - Gamification
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Achievement check completed
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/llmstxt:
    get:
      operationId: getLlmstxt
      summary: Get LLM-friendly documentation
      description: Returns a machine-readable summary of the platform for LLM context ingestion.
      tags:
        - System
      responses:
        "200":
          description: LLM documentation text
          content:
            text/plain:
              schema:
                type: string
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: sb-access-token
      description: Supabase session cookie. Set after successful login via Supabase Auth.
  schemas:
    ApiError:
      type: object
      properties:
        error:
          type: string
          description: Error message
        details:
          type: array
          description: Validation error details
          items:
            type: object
            properties:
              path:
                type: string
                description: Field path
              message:
                type: string
                description: Validation message
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: "ok"
          enum:
            - ok
            - degraded
        timestamp:
          type: string
          format: date-time
        uptime:
          type: number
          description: Server uptime in seconds
        environment:
          type: string
          example: "production"
        database:
          type: string
          example: "configured"
          enum:
            - configured
            - missing
    Quote:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        quote_number:
          type: string
          example: "SQ-2026-0001"
        client_name:
          type: string
          example: "Acme Corp"
        client_email:
          type: string
          format: email
          nullable: true
        client_phone:
          type: string
          nullable: true
        status:
          type: string
          enum:
            - draft
            - sent
            - opened
            - accepted
            - rejected
            - changes_requested
            - expired
            - archived
            - lost
        total:
          type: number
          example: 11800
        subtotal:
          type: number
          example: 10000
        gst_rate:
          type: number
          example: 18
        gst_amount:
          type: number
          example: 1800
        items:
          type: array
          items:
            $ref: "#/components/schemas/QuoteItem"
        notes:
          type: string
          nullable: true
        terms:
          type: string
          nullable: true
        payment_terms:
          type: string
          nullable: true
        public_token:
          type: string
          description: Token for public quote access
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        sent_at:
          type: string
          format: date-time
          nullable: true
        expiry_date:
          type: string
          format: date
          nullable: true
    QuoteItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        description:
          type: string
          maxLength: 500
        quantity:
          type: number
          minimum: 0.01
          maximum: 999999
        rate:
          type: number
          minimum: 0
          maximum: 999999999
        unit:
          type: string
          maxLength: 50
          nullable: true
        total:
          type: number
    CreateQuoteRequest:
      type: object
      required:
        - client_name
        - items
      properties:
        client_name:
          type: string
          maxLength: 200
          example: "Acme Corp"
        client_email:
          type: string
          format: email
          maxLength: 320
          nullable: true
        client_phone:
          type: string
          maxLength: 50
          nullable: true
        items:
          type: array
          minItems: 1
          maxItems: 500
          items:
            $ref: "#/components/schemas/QuoteItemInput"
        notes:
          type: string
          maxLength: 5000
          nullable: true
        terms:
          type: string
          maxLength: 10000
          nullable: true
        payment_terms:
          type: string
          maxLength: 1000
          nullable: true
        gst_rate:
          type: number
          minimum: 0
          maximum: 100
          description: GST rate percentage (0, 5, 12, 18, 28)
          example: 18
        tax:
          type: number
          minimum: 0
          maximum: 999999999
          nullable: true
        valid_until:
          type: string
          format: date
          nullable: true
        organization_id:
          type: string
          format: uuid
          nullable: true
    QuoteItemInput:
      type: object
      required:
        - description
        - quantity
        - rate
      properties:
        description:
          type: string
          maxLength: 500
          example: "Website Development"
        quantity:
          type: number
          minimum: 0.01
          maximum: 999999
          example: 1
        rate:
          type: number
          minimum: 0
          maximum: 999999999
          example: 10000
        unit:
          type: string
          maxLength: 50
          example: "pcs"
          nullable: true
    Client:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        name:
          type: string
          maxLength: 200
        email:
          type: string
          format: email
          nullable: true
        phone:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
        gst_number:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
    CreateClientRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          maxLength: 200
        email:
          type: string
          format: email
          maxLength: 320
          nullable: true
        phone:
          type: string
          maxLength: 50
          nullable: true
        address:
          type: string
          maxLength: 1000
          nullable: true
        gst_number:
          type: string
          maxLength: 50
          nullable: true
        notes:
          type: string
          maxLength: 5000
          nullable: true
        organization_id:
          type: string
          format: uuid
          nullable: true
  responses:
    Unauthorized:
      description: Authentication required. Missing or invalid session cookie.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    ValidationError:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    RateLimited:
      description: Too many requests. Rate limit exceeded.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
